.btn-cta {
	background-color: var(--color-primary-1);
	color: var(--color-primary-4);
	border-color: var(--color-primary-1);
}

.btn-cta:hover,
.btn-cta:not(:disabled):not(.disabled).active,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.active,
.open .dropdown-toggle.btn-cta {
	background-color: var(--color-primary-2);
	color: var(--color-primary-4);
	border-color: var(--color-primary-3);
}
